{% assign curDate = site.time | date: '%s' | plus:0 %}
{% assign postEventDate = page.event.date | date: '%s' | plus: 86400 %}
{% assign unique =  "now" | date: "%N" | modulo: 10000 %}

{% if postEventDate >= curDate %}
  
  <!-- Noscript content for added SEO -->
  <noscript><a href="https://www.meetup.com/{{ page.event.meetup-group }}/events/299401262/{{ page.event.meetup-event-id }}/" rel="noopener noreferrer" target="_blank">Register on Meetup</a></noscript>
  
  <!-- You can customize this button any way you like -->
  <a class="btn btn--success" id="{{unique}}-{{ meetup-event-id }}" type="button" target="_blank" title="Opens Meetup in a new tab" href="https://www.meetup.com/{{ page.event.meetup-group }}/events/{{ page.event.meetup-event-id }}/">Register on Meetup</a>

{% else %}
  ⚠️This event is in the past.⚠️<br/>
  <a class="btn btn--warning" href="/events/">See what else we have cooking</a>

{% endif %}



