---
layout: single
---

{% capture nowunix %}
{{ 'now' | eventdate: '%s' | plus: 0 }}
{% endcapture %}
{% capture posttime %}
{{ page.event.date | eventdate: '%s' | plus: 86400 }}
{% endcapture %}
{% capture datepassed %}
{{ page.event.date | eventdate: '%s' | plus: 172800 }}
{% endcapture %}



<div class="article container-fluid">

            <div class="header-image">
                <img src="{{ page.event.image }}" title="{{ page.excerpt }}" alt="{{ page.excerpt }}">
            </div>


            <h5 class="yellow-text">
                <i class="far fa-calendar-alt event-icon"></i> {{ page.event.date  | date: '%d %B %Y' }}<br/>
                <i class="far fa-clock"></i> {{ page.event.time }} <br/>
                <i class="fas fa-map-marker-alt"></i> {{ page.event.place }}
            </h5>

            <p>{% include meetup-signup.html %}</p>


            <h1>{{ page.title }}</h1>


            {{ page.content }}


            <span class="event-id" style="display: none;">{{ page.event.meetup-group }}/{{ page.event.meetup-event-id }}</span>

            <p>{% include meetup-signup.html unique="bottom"%}</p>


</div>